{{!< default}}

{{#post}}

  <article class="post-container post-container--single">

    <header class="post-header">
      
     <a href="https://jardimsonoro.github.io/blog/#blog"> <<< </a>
     

      <h1 class="post-title">{{{title}}}</h1>
    </header>

    <section class="{{post_class}}">
      {{content}}
    </section>

  </article>

  {{> comments}}
  <div class="post-meta">
          <time datetime="{{date format="DD MM YYYY"}}" class="post-meta__date date">{{date format="DD MM YYYY"}}</time> <span class="post-meta__tags tags">{{tags prefix="on "}}</span>
       
      </div>

{{/post}}
