{{!< default}}

{{#post}}

  <article class="post-container post-container--single">

    <header class="post-header">
      

      <h1 class="post-title">{{{title}}}</h1>
    </header>

    <section class="{{post_class}}">
      {{content}}
    </section>

  </article>

  {{> comments}}
  <div class="post-meta">
          <time datetime="{{date format="DD MM YYYY"}}" class="post-meta__date date">{{date format="DD MM YYYY"}}</time> &#8226; <span class="post-meta__tags tags">{{tags prefix="on "}}</span>
        <span class="post-meta__author author"><a href="{{@blog.url}}" title="link to homepage for {{@blog.title}}"><img src="{{author.image}}" alt="profile image for {{author.name}}" class="avatar post-meta__avatar" /></span>
      </div>

{{/post}}
